anytype
appimagelauncher.cfg
arduino-ide
Arduino IDE
balena-etcher
bleachbit
BraveSoftware
coc
Code
Cursor
dconf
discord
enchant
eog
evolution
forge
freerdp
github-copilot
gnome-initial-setup-done
gnome-session
GNOME-xdg-terminals.list
goa-1.0
google-chrome
.gsd-keyboard.settings-ported
htop
ibus
libreoffice
mangodl.conf
matplotlib
mimeapps.list
mov-cli
mpv
nautilus
nextjs-nodejs
OpenComic
pulse
QtProject.conf
Raspberry Pi
remmina
rstudio
rygel.conf
spotify
stacer
systemd
tiling-assistant
transmission
ubuntu-xdg-terminals.list
update-notifier
user-dirs.dirs
user-dirs.locale
VirtualBox
xdg-terminals.list
yelp
.gitignore.bak
gtk-3.0/
gtk-4.0/
Android Open Source Project/
Bitwarden/
Bootstrap Studio/
Google/
JetBrains/
Virtual Cable S.L.U./
alacritty/alacritty.toml.bak
android-sdk/
autostart/
bstudio/
create-next-app-nodejs/
gnome-control-center/
gtk-2.0/
jgit/
kactivitymanagerdrc
kconf_updaterc
kde.org/
kdeglobals
kglobalshortcutsrc
microsoft-edge/
monitors.xml
monitors.xml~
ngrok/
okularpartrc
okularrc
onedrive/.config.backup
onedrive/.config.hash
onedrive/items.sqlite3
onedrive/refresh_token
org.coolercontrol.coolercontrol/
totem/
vokoscreenNG/
zoom.conf
zoomus.conf
vlc/
